.wrapper-dark-grey{
  background-color: #262626;
  color: #C1C1C1;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 30px;
}
.wrapper-dark-grey p {
  font-size: 15px;
}
.wrapper-dark-grey a {
  color: #C1C1C1;
  padding: 10px;
}
.wrapper-dark-grey a:hover {
  color: #E4DD02;
}
